h5 {
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

$textList: (p h1 h2 h3 h4 h5 h6 li ul img a);
@each $value in $textList {
  #{$value}::selection {
  	background-color: rgba(map-get($colors, main), .5);
  	color: #fff;	
  }
  #{$value}:focus {
		outline: 0;
  }
}

main a {
	/* fake underline */
	text-decoration: none;
	background: linear-gradient(currentColor, currentColor) no-repeat;
	background-position: 0 1.3em;
	background-size: 100% 1px;
}

main a {
	position: relative;
	&:focus {
		outline: 0;
	}

  &:hover:before {
    box-sizing: border-box;
  	display: block;
  	position: absolute;
  	top: 10%;
  	left: 100%;
  	min-width: 400px;

  	padding-left: 1em;

  	content: attr(href);

  	font-size: .7em;
  	background-color: rgba(200,200,200, .9);
  	color: #fff;
  }
}