@import "../../bower_components/sexy/src/normalize.scss";
@import "../../bower_components/sexy/src/sexy.scss";
@import "./colors";
@import "./typography";


nav.resume-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  left: 0;
  width: 320px;
  height: 100%;
  overflow: scroll;
  background-color: #fff;
  border-right: 1px solid #aaa;
}

#write.resume-main {
	padding-left: 320px;
}


@include block(toc-content) {
  list-style: none;
  padding: 8px 20px;
  font-size: .9em;
  overflow-x: hidden;
  
  & + .toc-content__item {
    list-style: none;
    padding: 8px 20px;
    font-size: .9em;
    overflow-x: hidden;
  }

  & + .toc-content__item,
  & + .toc-content__item ol,
  & + .toc-content__item ul,
  & ol,
  & ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
	
	& a {
	  padding-top: .3em;
	  padding-bottom: .3em;
	}

  @for $level from 1 through 6 {
    &__level#{$level} > * {
      padding-left: $level * 0.8em;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }
  
  &-link {
    padding-top: .5em;
    padding-bottom: .5em;

    &.-is-active {
      font-weight: bold;
    }
  }
  
  &-link.-is-active,
  &-link:hover {
    border-left: 28px solid #f5f5f5;
    border-right: 28px solid #f5f5f5;
    margin-right: -28px;
    margin-left: -28px;

    text-decoration: underline;
    background-color: #f5f5f5;

  }
}